

.grid{
    width:100%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1rem;
    margin-bottom:4rem;
    padding:0 1rem;
    box-sizing:border-box;

    @include breakpoint(mobile-landscape) {
        grid-template-columns: repeat(12,1fr);
        grid-column-gap: 1rem;
    }

    @include breakpoint(tablet-portrait) {
        max-width:980px;
        grid-template-columns: repeat(12,1fr);
        grid-column-gap: 2rem;
    }
    
    @include breakpoint(desktop) {
        max-width:1220px;
        grid-template-columns: repeat(12,1fr);
    }
     @include breakpoint(desktop-large) {
        max-width:1460px;
        grid-template-columns: repeat(12,1fr);

    }
}

///Grid Spacing Utilities///
.margin-none{
    margin-bottom:0;
}

.margin-sm{
    margin-bottom:2rem;
}

.margin-lg{
    margin-bottom:6rem;
}